annotation.index = META-INF/empire.annotation.index

@code{ int j = 0 } @foreach{ model : models } @foreach{ src : datasources }

@{j}.name = @{model}-@{src}-data-source
@{j}.factory = @{src}

@code{ j++; } @end{} @end{}

