package $packageName;

import edu.mayo.terms_metamodel.terms.ConceptDescriptor;
import java.net.URI;

public class $className {

    public static final String codeSystemName = "$codeSystem.codeSystemName";
    public static final String codeSystem = "$codeSystem.codeSystemName";
    public static final URI codeSystemURI = URI.create( "$codeSystem.codeSystemUri" );

    public static final ConceptDescriptor __SELF = CodeFactory.get().buildCode( codeSystemURI, codeSystem, codeSystemName, null, null );

    static {
        VocabularyCatalog.get().register( codeSystem, __SELF );
    }


#foreach( $concept in $codeSystem.concepts )
    public static final ConceptDescriptor $JavaGenerator.getPropertyName($concept.name) = CodeFactory.get().buildCode( "$concept.code", "$concept.name", "$concept.codeSystem", "$codeSystem.codeSystemName" );

#end

}